---
title: "Avaliação"
author: "Amanda Manosso"
date: "20 de junho de 2023"
lang: pt
format: 
  html:
    code-tools: true
    code-fold: true
    default-image-extension: png
    page-layout: full
jupyter: python3
---

1) Escolha da base de dados: o aluno tem liberdade para escolher a base de dados que utilizará na atividade, desde dados de uma empresa ao longo do tempo, de várias empresas em um determinado momento, até indicadores econômicos, sociais ou demográficos. Pode ser em formato CSV ou utilizando alguma biblioteca (API) específica, como fizemos com o Ipeadata. Caso precise, segue lista de locais para baixar bases de dados (https://www.cienciadedados.org/bancosdadosLinks to an external site.)

1.1) Restrição: uma base com, pelo menos, 3 variáveis (colunas) numéricas. Deve importar a base para o projeto e apresentar as primeiras linhas para confirmar

1.2) Peso: 2,0

In [10]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install ipeadatapy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipeadatapy in c:\users\manosso.amanda.grupomarista.000\appdata\roaming\python\python39\site-packages (0.1.9)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from ipeadatapy) (2.28.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from ipeadatapy) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->ipeadatapy) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas->ipeadatapy) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->ipeadatapy) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->ipeadatapy) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->ipeadatapy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->ipeadatapy) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->ipeadatapy) (1.26.11)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->ipeadatapy) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import ipeadatapy as ip

ip.list_series('Selic')

In [4]:
selic = ip.timeseries('BM12_TJOVER12', yearGreaterThan=2021, yearSmallerThan=2023)
selic

,CODE,RAW DATE,DAY,MONTH,YEAR,VALUE ((% a.m.))
DATE,,,,,,
2022-01-01,BM12_TJOVER12,2022-01-01T00:00:00-03:00,1,1,2022,0.73
2022-02-01,BM12_TJOVER12,2022-02-01T00:00:00-03:00,1,2,2022,0.76
2022-03-01,BM12_TJOVER12,2022-03-01T00:00:00-03:00,1,3,2022,0.93
2022-04-01,BM12_TJOVER12,2022-04-01T00:00:00-03:00,1,4,2022,0.83
2022-05-01,BM12_TJOVER12,2022-05-01T00:00:00-03:00,1,5,2022,1.03
2022-06-01,BM12_TJOVER12,2022-06-01T00:00:00-03:00,1,6,2022,1.02
2022-07-01,BM12_TJOVER12,2022-07-01T00:00:00-03:00,1,7,2022,1.03
2022-08-01,BM12_TJOVER12,2022-08-01T00:00:00-03:00,1,8,2022,1.17
2022-09-01,BM12_TJOVER12,2022-09-01T00:00:00-03:00,1,9,2022,1.07
2022-10-01,BM12_TJOVER12,2022-10-01T00:00:00-03:00,1,10,2022,1.02
2022-11-01,BM12_TJOVER12,2022-11-01T00:00:00-03:00,1,11,2022,1.02
2022-12-01,BM12_TJOVER12,2022-12-01T00:00:00-03:00,1,12,2022,1.12

2) Criação de função própria: durante o projeto, deve criar e utilizar, pelo menos, 1 função própria

2.1) Restrição: a função pode ser do tipo def ou lambda, mas precisa ser criada e utilizada em algum momento do projeto

2.2) Peso: 1,5

In [54]:
#Sequência da taxa selic de acordo com cada mês do ano

lista = [0,0.73,0.76,0.93,0.83,1.03,1.02,1.03,1.17,1.07,1.02,1.02,1.12]
list(enumerate(lista))

[(0, 0),
 (1, 0.73),
 (2, 0.76),
 (3, 0.93),
 (4, 0.83),
 (5, 1.03),
 (6, 1.02),
 (7, 1.03),
 (8, 1.17),
 (9, 1.07),
 (10, 1.02),
 (11, 1.02),
 (12, 1.12)]

In [55]:
dobro = list(map(lambda x: x * 2, lista))

print(dobro)

[0, 1.46, 1.52, 1.86, 1.66, 2.06, 2.04, 2.06, 2.34, 2.14, 2.04, 2.04, 2.24]

3) Estrutura de repetição e condição: Ao longo do projeto deve constar o uso de, pelo menos, uma estrutura de repetição (for ou while) e uma estrutura de condição (if, elif, else)

3.1) Restrição: Deve ter, pelo menos, uma repetição (for ou while) e uma condição (if)

3.2) Peso: 1,5

In [56]:
#Utilizando o dobro das taxas selic de cada mês é possível descobrir se dessa forma elas seriam altas no próximo
for valor in dobro:
    if valor > 1:
        print(f'O valor {valor}, ou seja, a taxa selic seria alta, caso fosse o dobro')
    elif valor< 1 :
        print(f'O valor {valor}, ou seja a taxa selic seria baixa, caso fosse o dobro')

O valor 0, ou seja a taxa selic seria baixa, caso fosse o dobro
O valor 1.46, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 1.52, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 1.86, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 1.66, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.06, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.04, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.06, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.34, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.14, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.04, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.04, ou seja, a taxa selic seria alta, caso fosse o dobro
O valor 2.24, ou seja, a taxa selic seria alta, caso fosse o dobro

4) Funções especiais: Das 5 funções especiais vistas na aula 12 (map, reduce, zap, enumerate e filter), pelo menos 1 delas precisa ser utilizada no projeto de qualquer forma

4.1) Restrição: Pelo menos 1 das funções especiais precisar ser utilizada em algum momento do projeto

4.2) Peso: 1,0

In [64]:
## Usando a função map() para subtrair os elemntos de 2 lista, retornando as taxas originais
lista = [0,0.73,0.76,0.93,0.83,1.03,1.02,1.03,1.17,1.07,1.02,1.02,1.12]
lista1 = [0, 1.46, 1.52, 1.86, 1.66, 2.06, 2.04, 2.06, 2.34, 2.14, 2.04, 2.04, 2.24]

diferença_listas= list(map(lambda x, y : x-y, lista1,lista))
diferença_listas

[0, 0.73, 0.76, 0.93, 0.83, 1.03, 1.02, 1.03, 1.17, 1.07, 1.02, 1.02, 1.12]

5) Resumo estatístico: Entre todas as formas de resumo das variáveis numéricas que vimos ao longo das aulas (operadores matemáticos básicos, sum, mean, median), deve escolher e utilizar pelo menos duas delas. O uso pode ser em alguma função, repetição ou condição, mas em algum lugar precisa realizar algum cálculo.

5.1) Restrição: Uso de, pelo menos duas operações matemáticas em qualquer lugar do projeto

5.2) Peso: 1,5

In [80]:
soma = sum(lista)
media= mean(lista)

print(soma)
print(media)

11.73
0.9023076923076924